<h1>Flights</h1>

<%= form_with(url: flights_path, method: :get) do |form| %>
  <div>
    <%= form.label 'departure_airport', 'Departure Airport:' %>
    <%= form.select 'departure_airport', options_from_collection_for_select(Airport.all, 'id', 'code'), include_blank: true %>
  </div>

  <div>
    <%= form.label 'arrival_airport', 'Arrival Airport:' %>
    <%= form.select 'arrival_airport', options_from_collection_for_select(Airport.all, 'id', 'code'), include_blank: true %>
  </div>

  <div>
    <%= form.label 'flight_date', 'Flight Date:' %>
    <%= form.select 'flight_date', options_for_select(@flight_dates.map {|date| [date.strftime("%B %d, %Y"), date] }), include_blank: true %>
  </div>

  <div>
      <%= form.label 'passenger_count', 'Number of Passengers:' %>
      <%= form.select 'passenger_count', (1..4).to_a, selected: params[:passenger_count], include_blank: true %>
  </div>

  <%= form.submit 'Search Flights' %>
<% end %>

<%= form_with(url: new_booking_path, method: :get) do |form|%>

  <% if @flights.present? %>
    <% @flights.each do |flight|%>
      <div>
        <%= form.radio_button :selected_flight_id, flight.id %>
        <%= form.label "flight_#{flight.id}" do %>
          Departure Airport: <%= flight.departure_airport.code %><br>
          Arrival Airport: <%= flight.arrival_airport.code %><br>
          Start Datetime: <%= flight.start_datetime.strftime("%B %d, %Y") %><br>
          Flight Duration: <%= flight.flight_duration %> hours
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= form.hidden_field :passenger_count, value: params[:passenger_count] %>  
  <%= form.submit "Continue to Booking" %>

<% end %>
